
body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    color:darkred;
    background-color: rgb(255, 208, 0);
    text-align: center;
}
h2{
     color: darkred;
     text-align: center;
}
p{
    text-align: justify;
   color: aliceblue;
}

